worker_processes  1;

events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

                            
    sendfile        on;     
    #tcp_nopush     on;     
                            
    #keepalive_timeout  0;  
    keepalive_timeout  65;  
                            
    #gzip  on;              
  

    #TODO: move upstream to consul k/v 
    upstream consul {
        server 127.0.0.1:8500;
        keepalive 15;
    }

    upstream marathon {
        server 127.0.0.1:8080;
        keepalive 15;
    }


    # redirect http to https                        
    server {                
        listen       80;   
        return 301 https://$host$request_uri; 
    }                       
                            
                            
    # HTTPS server          
    server {               
        listen       443 ssl;
        server_name  localhost;
                            
        ssl_certificate               /etc/nginx/ssl/cert.pem;
        ssl_certificate_key           /etc/nginx/ssl/key.pem;

        ssl on;
        ssl_session_cache             builtin:1000 shared:SSL:10m;
        ssl_protocols                 TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers                   HIGH:!aNULL:!eNULL:!EXPORT:!CAMELLIA:!DES:!MD5:!PSK:!RC4;
        ssl_prefer_server_ciphers     on;

        location ~ /consul(/?)(.*) {
            proxy_pass http://consul/$2;
            proxy_http_version 1.1;
            proxy_set_header Connection "Keep-Alive";
            proxy_set_header Proxy-Connection "Keep-Alive";
        }

        location ~ ^/marathon(/?)(.*)  {
            proxy_pass http://marathon/$2;
            proxy_http_version 1.1;
            proxy_set_header Connection "Keep-Alive";
            proxy_set_header Proxy-Connection "Keep-Alive";
        }                   
    }                       
                             
} 
